@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="container">
                <h1>Desafio 8Quali</h1>
                <hr />
                <h5>Para usar a plataforma, use o menu lateral</h5>
            </div>

        </div>
    </div>
</body>
